

/*--------------------------------------------------------------
# specials
--------------------------------------------------------------*/
.specials-padding{
  padding-top: 100px;
}

/*--------------------------------------------------------------
# book-a-table
--------------------------------------------------------------*/
.book-a-table-padding{
  padding-top: 100px;
}

/*--------------------------------------------------------------
# about
--------------------------------------------------------------*/
.about-padding{
  padding-top: 110px;
}

/*--------------------------------------------------------------
# why-us
--------------------------------------------------------------*/
.why-us-padding{
  padding-top: 100px;
}
.dark{
  background-color: #1a1814;
}

.cardBox{
  width: 200px;
  height: 90px;
  background-color: #cda45e;
  border-radius: 10px;
  color: #1a1814;
  padding: 10px;
  margin: 5px;
}